.cart {
  &__items {
    background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
    border-radius: 10px;
    max-width: 1096px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 100%
      );
      bottom: 0;
    }

    &:last-child::after {
      width: 0;
    }

    @media (max-width: 768.99px) {
      flex-direction: column;
      // align-items: flex-end;
      // align-items: center;
      justify-content: center;
    }
  }
}
.cart__item__image {
  width: 118px;
  height: 86px;
  margin-left: 20px;
}
.cartitem__description {
  width: 295px;
  @media (max-width: 768.99px) {
    width: 100%;
  }
}
.item {
  &__left {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #a6a7ab;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    max-width: 400px;
    width: 400px;

    // @media (max-width: 768.99px) {
    //   justify-self: end;
    // }
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 13px;

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      color: #ffffff;
    }
  }

  &__price {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
  }
}
