* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1290 + 30px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn {
  background: #618967;
  border-radius: 10px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;

  &:hover {
    background: #5c8362;
  }

  &:active {
    transform: translateY(1px);
  }

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
ul {
  li {
    list-style: none;
  }
}
body {
  background: #44403f;
}
.title {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;

  &::after {
    content: "";
    width: 2px;
    height: 100%;
    background: red;
    margin: 10px;
  }
}
